<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/initiatives.css">
    <link rel="shortcut icon" href="../images/logo2.png" type="image/png">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>Initiatives</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="../views/index.html">L'Effet</a>
            </div>
            <ul class="nav-links">
                <li><a href="../views/propos.html">Propos</a></li>
                <li><a href="../views/initiatives.html">Initiatives</a></li>
                <li><a href="../views/temoig.html">témoignages</a></li>
                <li><a href="../views/balados.html">balados</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <div class="header-content">
            <div class="header-content-text">
                <h1>Initiatives</h1>
                <p>Découvrez comment les coopératives et les mutuelles soutiennent leur communauté et s’impliquent pour
                    contribuer à la relance économique du Québec.</p>
            </div>

            <img src="../images/initiatives/header_img.png" alt="">
        </div>
    </header>

    <section class="cards-section" data-mobile="false">
        <div class="swiper-wrapper" >
            <div class="card">
                <div>
                    <img src="../images/initiatives/card1.png" alt="">
                    <img src="../images/initiatives/card1_before.png" class="card-img-before" alt="">
                </div>
                <div>
                    <h2>Au mois d'avril, les libraires étaient inquiets pour leur avenir</h2>
                    <p>Les membres de la coopérative des Librairies indépendantes du Québec ont bénéficié de
                        l’engouement
                        récent pour l’achat local.</p>
                    <button class="btn">en savoir plus</button>
                </div>
            </div>

            <div class="card">
                <div>
                    <img src="../images/initiatives/card2.png" alt="">
                    <img src="../images/initiatives/card2_before.png" class="card-img-before" alt="">
                </div>
                <div>
                    <h2>Le Réseau des coopératives funéraires a fait l'acquisition de McDonald Funeral Home LTD en
                        Ontario
                    </h2>
                    <p>Les membres de la coopérative des Librairies indépendantes du Québec ont bénéficié de
                        l’engouement
                        récent pour l’achat local.</p>
                    <button class="btn">en savoir plus</button>
                </div>
            </div>

            <div class="card">
                <div>
                    <img src="../images/initiatives/card3.png" alt="">
                    <img src="../images/initiatives/card3_before.png" class="card-img-before" alt="">
                </div>
                <div>
                    <h2>Co-operators annonce une contribution de 200000$ à Centraide</h2>
                    <p>Le Groupe Co-operators Assurance et services financiers a offert une contribution de 200000$ pour
                        venir en aide aux Canadiens...</p>
                    <button class="btn">en savoir plus</button>
                </div>
            </div>

            <div class="card">
                <div>
                    <img src="../images/initiatives/card4.png" alt="">
                    <img src="../images/initiatives/card4_before.png" class="card-img-before" alt="">
                </div>
                <div>
                    <h2>Au mois d'avril, les libraires étaient inquiets pour leur avenir</h2>
                    <p>Les membres de la coopérative des Librairies indépendantes du Québec ont bénéficié de
                        l’engouement
                        récent pour l’achat local.</p>
                    <button class="btn">en savoir plus</button>
                </div>
            </div>
            <div class="card">
                <div>
                    <img src="../images/initiatives/card5.png" alt="">
                    <img src="../images/initiatives/card5_before.png" class="card-img-before" alt="">
                </div>
                <div>
                    <h2>Desjardins et La Ruche: Du coeur à l'achat</h2>
                    <p>La Ruche permet aux campagnes admissibles au programme Du cœur à l’achat, encouragé par
                        Desjardins
                        d’opérer sous...</p>
                    <button class="btn">en savoir plus</button>
                </div>
            </div>

            <div class="card">
                <div>
                    <img src="../images/initiatives/card6.png" alt="">
                    <img src="../images/initiatives/card6_before.png" class="card-img-before" alt="">
                </div>
                <div>
                    <h2>1200 couturières se mobilisent pour produire du matériel médical en temps de pandémie</h2>
                    <p>En temps de pandémie, 1200 couturières amateurs et professionnelles se sont portées volontaires
                        pour
                        fabriquer des accessoires médicaux.</p>
                    <button class="btn">en savoir plus</button>
                </div>
            </div>

            <div class="card">
                <div>
                    <img src="../images/initiatives/card7.png" alt="">
                    <img src="../images/initiatives/card7_before.png" class="card-img-before" alt="">
                </div>
                <div>
                    <h2>Desjardins : Stratégie de 160M$ pour contribuer à la relance économique</h2>
                    <p>Avec la reprise des activités, le Mouvement Desjardins a déployé sa stratégie pour contribuer à
                        la
                        relance et met de l'avant plusieurs initiatives...</p>
                    <button class="btn">en savoir plus</button>
                </div>
            </div>
            <div class="card">
                <div>
                    <img src="../images/initiatives/card8.png" alt="">
                    <img src="../images/initiatives/card8_before.png" class="card-img-before" alt="">
                </div>
                <div>
                    <h2>Desjardins donne 40000$ pour les CHSLD de la région</h2>
                    <p>Les caisses Desjardins du Saguenay-Lac-Saint-Jean font un don de 40000$ aux six fondations des
                        hôpitaux de la région pour des achats d'items....</p>
                    <button class="btn">en savoir plus</button>
                </div>
            </div>

            <div class="card">
                <div>
                    <img src="../images/initiatives/card9.png" alt="">
                    <img src="../images/initiatives/card9_before.png" class="card-img-before" alt="">
                </div>
                <div>
                    <h2>Promutuel Assurance du Lac au Fleuve a investi 10000$ pour l’économie locale</h2>
                    <p>Avec l’objectif d’être toujours présent et actif dans son milieu, Promutuel Assurance du Lac au
                        Fleuve a acheté plusieurs paniers...</p>
                    <button class="btn">en savoir plus</button>
                </div>
            </div>

            <div class="card">
                <div>
                    <img src="../images/initiatives/card10.png" alt="">
                    <img src="../images/initiatives/card10_before.png" class="card-img-before" alt="">
                </div>
                <div>
                    <h2>Sollio Groupe Coopératif a lancé «De nous à vous»</h2>
                    <p>Sollio Groupe Coopératif et seize coopératives agricoles de son réseau ont lancé l'initiative «De
                        nous à vous» pour venir en aide...</p>
                    <button class="btn">en savoir plus</button>
                </div>
            </div>
        </div>

    </section>

    <section class="yellow-section">
        <img src="../images/initiatives/yellow_section.png" class="yellow-section-img" alt="">
        <div class="yellow-section-text">
            <h1>Partagez votre expérience à saveur coopérative</h1>
            <p>Vous avez une initiative qui contribue aux valeurs coopératives?
                Partagez-là avec nous en nous envoyant les informations par courriel.</p>
            <div class="btns">
                <button class="btn">partager son expérience</button>
                <button class="btn">voir les initiatives</button>
            </div>
        </div>
    </section>

    <footer>
        <img src="../images/white-logo.png" alt="">
        <img src="../images/white-logo1.png" alt="">
        <ul>
            <li>
                <h4>UNE INITIATIVE DU CQCM ET DE SES Membres</h4>
            </li>
            <li><img src="../images/footer_img.png" alt=""></li>
            <li>
                <p>© 2020 - Effet COOP</p>
            </li>
        </ul>
        <ul>
            <li>
                <h4>Nous joindre</h4>
            </li>
            <li>
                <p>5955, rue Saint-Laurent, bureau 204, Lévis (QC) Canada G6V 3P5</p>
            </li>
            <li>
                <p>(418) 835-3710</p>
            </li>
            <li>
                <p>info@effet.coop</p>
            </li>
        </ul>
        <ul>
            <li>
                <h4>suivez-nous</h4>
            </li>
            <li>
                <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            </li>
        </ul>
    </footer>

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../scripts/script.js"></script>
</body>

</html>